## Take home exercises

1. Write a function  *count_vowels(word)* that takes a word as an argument and returns the number of vowels in the word
2. Iterate through the following list of animals and print each one in all caps.

  animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']

3. Write a program that iterates from 1 to 20, printing each number and whether it's odd or even.
4. Write a function *sum_of_integers(a, b)* that takes two integers as input from the user and returns their sum.

In [7]:
def count_vowels(word):
    
    vowels = 'aeiouAEIOU'
    return sum(1 for letter in word if letter in vowels)


test_words = ['Teacher', 'America', 'world', 'rhythm']
test_results = {word: count_vowels(word) for word in test_words}

test_results

{'Teacher': 3, 'America': 4, 'world': 1, 'rhythm': 0}

In [8]:
animals = ['tiger', 'elephant', 'monkey', 'zebra', 'panther']

for animal in animals:
    print(animal.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

In [10]:
for i in range(1, 21):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

In [11]:
def sum_of_integers(a, b):
    return a + b

example_a = 8
example_b = 6

sum_result = sum_of_integers(example_a, example_b)
sum_result

14

In [24]:
books = [
    {
        "title": "The Great Gatsby",
        "author": "F. Scott Fitzgerald",
        "genre": "Fiction",
        "rating": 4.2
    },
    {
        "title": "To Kill a Mockingbird",
        "author": "Harper Lee",
        "genre": "Classic",
        "rating": 4.5
    },
    {
        "title": "1984",
        "author": "George Orwell",
        "genre": "Dystopian",
        "rating": 4.8
    },
    {
        "title": "Pride and Prejudice",
        "author": "Jane Austen",
        "genre": "Romance",
        "rating": 4.7
    },
    {
        "title": "Harry Potter and the Sorcerer's Stone",
        "author": "J.K. Rowling",
        "genre": "Fantasy",
        "rating": 4.9
    },
    {
        "title": "The Catcher in the Rye",
        "author": "J.D. Salinger",
        "genre": "Coming-of-age",
        "rating": 4.1
    }
]

1.Checking Book Ratings

Write a function check_rating(book) that takes a book dictionary and returns True if the rating is greater than 4.5, and False otherwise. Additionally, modify the function to return 'low' if the rating is less than or equal to 4.0, 'medium' if it's greater than 4.0 but less than or equal to 4.5, and 'high' if it's greater than 4.5.

2.Average Rating by Genre

Write a function average_rating_by_genre(books, genre) that accepts the list of books and a genre, and returns the average rating for that genre. If the genre does not exist in the list, return an appropriate message.

3.Books by Author

Write a function books_by_author(books, author) that accepts the book list and an author's name, and returns a list of all the books written by that author. If the author does not exist, raise a custom error.

In [6]:
def check_rating(book):
    rating = book.get('rating', 0)
    
    if rating > 4.5:
        return 'high'
    elif rating > 4.0:
        return 'medium'
    else:
        return 'low'

book1 = {'title': 'Book One', 'rating': 4.7}
book3 = {'title': 'Book Three', 'rating': 4.3}
book5 = {'title': 'Book Five', 'rating': 3.9}

result_check_rating = { check_rating (book1)

result_check_rating

'high'

In [25]:
def average_rating_by_genre(books, genre):

    genre_books = [book for book in books if book['genre'] == genre]
    
    if not genre_books:
        return "Genre does not exist in the list."
    
    total_rating = sum(book['rating'] for book in genre_books)
    average_rating = total_rating / len(genre_books)
    
    return average_rating


books_example = [
    {'title': 'Book One', 'genre': 'Classic', 'rating': 4.5},
    {'title': 'Book Two', 'genre': 'Dystopian', 'rating': 4.7},
    {'title': 'Book Three', 'genre': 'Fiction', 'rating': 4.8},
    {'title': 'Book Four', 'genre': 'Romance', 'rating': 4.3},
]

average_rating_Classic = average_rating_by_genre(books_example, 'Classic')
average_rating_Fiction = average_rating_by_genre(books_example, 'Fiction')
average_rating_nonexistent = average_rating_by_genre(books_example, 'Nonexistent Genre')

(average_rating_Classic, average_rating_Fiction, average_rating_nonexistent)

(4.5, 4.8, 'Genre does not exist in the list.')

In [26]:
def books_by_author(books, author):
    
    author_books = [book for book in books if book['author'] == author]
    
    if not author_books:
        raise ValueError("Author does not exist in the list.")
    
    return author_books

books_example = [
    {'title': 'Book One', 'author': 'George Orwell', 'rating': 4.5},
    {'title': 'Book Two', 'author': 'Jane Austen', 'rating': 4.7},
    {'title': 'Book Three', 'author': 'Harper Lee', 'rating': 4.8},
    {'title': 'Book Four', 'author': 'Harper Lee', 'rating': 4.3},
]

try:
    books_by_author_a = books_by_author(books_example, 'George Orwell')
    print("Books by Author A:", books_by_author_a)
    
    books_by_nonexistent_author = books_by_author(books_example, 'Nonexistent Author')
except ValueError as e:
    print(e)

Books by Author A: [{'title': 'Book One', 'author': 'George Orwell', 'rating': 4.5}]
Author does not exist in the list.